*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
}

html {
  background-color: #001f3f;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.calculator-grid {
  background-color: rgb(228, 165, 5);
  display: grid;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  color: #5f1111;
  border: 1px solid #0f0303;


}

.calculator-grid > button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.display {
  grid-column: 1 / -1;
  margin: 6px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: space-around;
  background-color: #B73225;
  word-wrap: break-word;
  word-break: break-all;
}


.span-two {
  grid-column: span 2;
}


.result {
  margin: 10px;
  border-radius: 15px;
  background-color: #B73225;
  font-size: 3rem;
  color:cadetblue;
  font-weight: 600;
}
